@font-face {
	src: url('./fonts/Heebo-Regular.ttf') format('truetype');
	font-family: 'Heebo';
	font-weight: 400;
	font-style: normal;
}
@font-face {
	src: url('./fonts/Heebo-Medium.ttf') format('truetype');
	font-family: 'Heebo';
	font-weight: 500;
	font-style: normal;
}
@font-face {
	src: url('./fonts/Heebo-Bold.ttf') format('truetype');
	font-family: 'Heebo';
	font-weight: 700;
	font-style: normal;
}
@font-face {
	src: url('./fonts/Heebo-Black.ttf') format('truetype');
	font-family: 'Heebo';
	font-weight: 900;
	font-style: normal;
}

* {
    margin: 0;
    font-family: 'Heebo', Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}
body {
    width: 100%;
}
header {
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    border-bottom: solid 1px #E0E0E0;
    z-index: 150;
}
.header-wrapper {
    max-width: 1152px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 27px;
    margin: 0 auto;
}
header a {
    margin-right: 33px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.about {
    display: flex;
    padding: 140px 148px 71px;
    justify-content: space-between;
    max-width: 1152px;
    margin: 0 auto;
}
.about-text {
    width: 59%;
}
.about-text h1 {
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}
.about-text p {
    margin: 40px 0;
}
.about-text a button {
    padding: 9px 21px 9px 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    background: #FF6464;
    border: none;
}
.recent-post {
    width: auto;
    padding-top: 7px;
    padding-bottom: 32px;
    background: #EDF7FA;
}
.recent-post-container {
    margin: 0 148px;
    display: flex;
    justify-content: space-between;
    max-width: 1152px;
    margin: 0 auto;
}
.recent-post-header {
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}
.view-all {
    align-self: center;
    text-decoration: none;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}
.recent-post-container div:first-of-type {
    margin-right: 12px;
}
.recent-post-container div {
    background-color: #FFFFFF;
    padding: 24px 21px 35px 23px;
}
.post-header {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}
.post-p {
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}
.post-p:nth-of-type(odd) {
    margin: 18px 0;
}
.works-wrapper {
    padding: 30px 148px 52px;
    max-width: 1152px;
    margin: 0 auto;
}
.works-header {
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 20px;
}
.work {
    display: flex;
    padding-bottom: 32px;
    border-bottom: solid 1px #E0E0E0;
    margin-bottom: 31px;
}
.work img {
    margin-right: 18px;
    width: 100%;
    height: 100%;
}
.work-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}
.work-year {
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 26px;
}
.dashboard {
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.work-p {
    line-height: 24px;
    color: #21243D;
}

footer {
    padding: 51px 0 54px 0;
    max-width: 1152px;
    margin: 0 auto;
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-media a {
    margin-right: 35px;
}
.social-media a:last-of-type {
    margin-right: 0;
}
.footer-text {
    text-align: center;
    margin-top: 26px;
}
.burger {
    display: none;
}
#dropdown {
    position: fixed;
    width: 100%; 
    height: 35%;
    background-color: white;
    border-bottom: solid 1px #E0E0E0;
    display: flex;
    flex-direction: column;
    transition-duration: 700ms;
}
#dropdown a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 30px;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid #E0E0E0;
    margin: 0 30px;
}
@media screen and (max-width: 1200px) {
    header {
        padding-right: 0;
        padding-left: 0;
    }
    .recent-post {
        padding: 7px 140px 32px;
    }
}
@media screen and (max-width: 900px) {
    header {
        padding-right: 0;
        padding-left: 0;
    }
    .recent-post {
        padding: 7px 140px 32px;
    }
    header a {
        display: none;
    }
    .burger {
        display: block;
        margin-right: 30px;
    }
    .burger img {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 768px) {
    .about {
        flex-direction: column-reverse;
        padding: 80px 0 71px;
    }
    .about-pic {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .about-text {
        margin: 0 auto;
    }
    .about-text p {
        margin 20px 0;
    }
    .about-text h1 {
        font-size: 35px;
    }
    .about-text button {
        display: flex;
        margin: 0 auto;
    }
    .recent-post-container:last-of-type {
        display: flex;
        flex-direction: column;
    }
    .recent-post-container div:first-of-type {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .work {
        display: flex;
        flex-direction: column;
    }
    .work div {
        margin-top: 20px;
    }
    .recent-post {
        padding: 20px 30px 32px;
    }
}