@font-face {
	src: url('./fonts/Heebo-Regular.ttf') format('truetype');
	font-family: 'Heebo';
	font-weight: 400;
	font-style: normal;
}
@font-face {
	src: url('./fonts/Heebo-Regular.ttf') format('truetype');
	font-family: 'Heebo';
	font-weight: 500;
	font-style: normal;
}
@font-face {
	src: url('./fonts/Heebo-Regular.ttf') format('truetype');
	font-family: 'Heebo';
	font-weight: 700;
	font-style: normal;
}
@font-face {
	src: url('./fonts/Heebo-Regular.ttf') format('truetype');
	font-family: 'Heebo';
	font-weight: 900;
	font-style: normal;
}


* {
    margin: 0;
    font-family: 'Heebo', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
